@font-face {
    font-family: 'RB';
    src: url('../fonts/Roboto-Bold.ttf');
    
}

@font-face {
    font-family: 'RR';
    src: url('../fonts/Roboto-Regular.ttf');
    
}

@font-face {
    font-family: 'LG';
    src: url('../fonts/LeagueGothic-Regular-VariableFont_wdth.ttf');
    
}

@font-face {
    font-family: 'LS';
    src: url('../fonts/LeagueSpartan-VariableFont_wght.ttf');
    
}

